*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
  }

.navbar {
    display: flex;
    background-color: #c9e498; /*Color del navbar*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
   }

.offcanvas-header{
    background-color: #c9e498; /*Color del navbar de la barra lateral */
}   

.offcanvas-body{
    background-color: #d6ecad; /*Color barra lateral*/
    
}

.navbar-toggler-icon{
    border-color: blue;
}

.navbar-toggler {
    border: none !important;
    
  }


/*-----------<!--banner-->------------*/
section{
  padding: 50px 100px;
}

.home{
  width: 100%;
  min-height: 100vh;
  background: url(/assets/helado.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(17rem,auto));
  align-items: center;
  gap: 1.5em; ;
}

.home-text h1{
  font-size: 3.4rem;
  color: var(--main-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.home-text p {
  font-size: 0.938rem;
  color: var(--bg-color);
  margin: 0.5rem 0 1.4rem;
}

.btn{
  padding: 10px 40px;
  border-radius: 0.3rem;
  background-position: var(--main-color);
  color: var(--bg-color);
  font-weight: 500;
}

.btn:hover{
  background: #06ac4e;
}